{% extends "base.html" %}

{% block content %}
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Dashboard</h5>
                <div class="text-right">
                    <a href="{{ url_for('logs.index') }}" class="btn btn-xs btn-default">Logs ({{ logs }})</a>
                    <a href="{{ url_for('transactions.index') }}" class="btn btn-xs btn-default">Transactions ({{ transactions }})</a>
                    <a href="{{ url_for('config.index') }}" class="btn btn-xs btn-success">Config</a>
                </div>
            </div>
            <div class="ibox-content">
                <p>
                    Connected: <span class="label {% if server.connected %}label-primary{% else %}label-danger{% endif %}">{{ server.connected or "False" }}</span>
                    <br><small>Connected to ExA server</small>
                </p>
                {% if config.allowed_pairs or config.allowed_balance %}
                <p class="hr-line-dashed"></p>
                {% endif %}
                <p>
                    {% if config.allowed_pairs %}
                        Allowed Pairs: {{ ", ".join(config.allowed_pairs) }}
                    {% endif %}
                    {% if config.allowed_balance %}
                        <br><br>
                        Allowed Balance: <b>{{ config.allowed_balance }}</b> USDT
                        {% if balances %}
                            <ul>
                            {% for key, value in balances.items() %}
                                <li> {{ key }}: <b class="text-{{ value.label }}">{{ value.balance }}</b> USDT </li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% endif %}
                </p>
                <p class="hr-line-dashed"></p>
                <p>
                    Version: <span class="label">{{ version }}</span>
                    <br><small>ExA client version</small>
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Exchanges</h5>
            </div>
            <div class="ibox-content">
                {% if exchanges %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Enabled</th>
                                <th>Last refreshed</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for exchange in exchanges %}
                                <tr>
                                    <td>{{ exchange.name|title }}</td>
                                    <td>

                                        {% if not exchange.api_key  %}
                                            <span class="label label-default">Unknown</span>
                                        {% elif exchange.valid %}
                                            <span class="label label-primary">Connected</span>
                                        {% else %}
                                            <span class="label label-danger">Invalid API Keys</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if not exchange.api_key  %}
                                            <span class="label label-default">Disabled</span>
                                        {% elif exchange.enabled %}
                                            <span class="label label-primary">Enabled</span>
                                        {% else %}
                                            <span class="label label-default">Disabled</span>
                                        {% endif %}

                                    </td>
                                    <td>
                                        {{ exchange.refreshed }}
                                    <td>
                                    <td class="text-right">
                                        <a href="{{ url_for('exchange.edit', exchange_id=exchange.id ) }}" class="btn btn-xs btn-success">
                                            {% if not exchange.api_secret %} Add API Keys {% else %} Edit {% endif %}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}
