{% extends 'base.html' %}

{% block content %}


    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Transactions</h5>
                <div class="text-right">
                    <a href="{{ url_for('dashboard') }}" class="btn btn-xs btn-default">Back</a>
                    <a href="{{ url_for('transactions_delete') }}" class="btn btn-xs btn-danger">Release balance</a>
                </div>
            </div>
            <div class="ibox-content">
                <p>
                    In this section you can see all transactions performed by ExA client.
                    <br>If transactions reach <b>Allowed balance</b> limit, use <i>Release balance</i> button to reset.
                </p>
                {% if setting.allowed_balance %}
                    <div class="hr-line-dashed"></div>
                    <p>
                    <p> Balance limit: <b>{{ setting.allowed_balance }}</b> USDT </p>
                        <p>
                            Balance usage:
                            <br><small>Balance usage is cumulative and calculated for <code>order_market_buy</code> actions only</small>
                        </p>
                        <p>
                            <ul>
                            {% for key, value in balances.items() %}
                                <li>
                                    {{ key }}: <b class="text-{{ value.label }}">{{ value.balance }}</b> USDT
                                </li>
                            {% endfor %}
                            </ul>
                        </p>
                    </p>
                {% endif %}

                <div class="hr-line-dashed"></div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th style="width:30%;">Created</th>
                        <th>Action</th>
                        <th>Symbol</th>
                        <th>Amount</th>
                        <th>Balance (USDT)</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for transaction in transactions %}
                            <tr>
                                <td>{{ transaction.created }}</td>
                                <td>{{ transaction.action_id }}</td>
                                <td>{{ transaction.exchange }}</td>
                                <td>{{ transaction.buy_or_sell }}</td>
                                <td>{{ transaction.pair }}</td>
                                <td>{{ transaction.rate }}</td>
                                <td>{{ transaction.amount }}</td>
                                <td>{{ transaction.order_id }}</td>
                                <td>{{ transaction.filled }}</td>
{#                                id = Column(Integer, primary_key=True)#}
{#                                action_id = Column(Integer, nullable=False)#}
{#                                buy_or_sell = Column(String, nullable=False)#}
{#                                exchange = Column(String, nullable=False)#}
{#                                pair = Column(String, nullable=False)#}
{#                                rate = Column(Float(precision=8), nullable=False)#}
{#                                amount = Column(Float(precision=8), nullable=False)#}
{#                                order_id = Column(Integer)#}
{#                                filled = Column(Float(precision=8))#}
{#                                created = Column(DateTime, default=arrow.utcnow().datetime)#}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock content %}
